Repository Nexis-AI/Platonix-IDE, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, ai-integration, theme, build, ci, test, dependencies, security, platform/windows, platform/mac, platform/linux, extensions

.github/labeler.yml:

# Configuration for PR labeler
# https://github.com/actions/labeler

documentation:
  - '**/*.md'
  - 'docs/**'
  - 'LICENSE*'

frontend:
  - 'src/vs/workbench/browser/**'
  - 'src/vs/workbench/contrib/*/browser/**'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.less'

ai-integration:
  - 'src/vs/workbench/contrib/platonix/**'
  - '**/llm*'
  - '**/ai*'
  - '**/model*'

theme:
  - 'extensions/theme-*/**'
  - '**/themes/**'
  - '**/*theme*.json'

build:
  - 'build/**'
  - 'scripts/**'
  - 'gulpfile.js'
  - 'package.json'
  - 'yarn.lock'

ci:
  - '.github/**'
  - '.circleci/**'
  - '.travis.yml'
  - 'azure-pipelines.yml'

test:
  - 'test/**'
  - '**/*.test.ts'
  - '**/*.test.js'
  - '**/*.spec.ts'
  - '**/*.spec.js'

dependencies:
  - 'package.json'
  - 'yarn.lock'
  - 'package-lock.json'

security:
  - '**/auth*'
  - '**/security*'
  - '**/encryption*'
  - '**/credential*'

platform/windows:
  - 'src/vs/platform/windows/**'
  - 'resources/win32/**'
  - '**/*.bat'

platform/mac:
  - 'src/vs/platform/darwin/**'
  - 'resources/darwin/**'

platform/linux:
  - 'src/vs/platform/linux/**'
  - 'resources/linux/**'
  - '**/*.desktop'

extensions:
  - 'extensions/**'
  - 'src/vs/workbench/api/**'

docs: add Roadmap and Deployment documentation
  docs/DEPLOYMENT.md
  docs/Roadmap.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

feat: add multi-architecture release builds
  .github/workflows/release.yml
Labels: ci

fix: add simplified release workflow and build scripts
  .github/workflows/release-simple.yml
  docs/DEVELOPMENT.md
  scripts/build-release.sh
Labels: documentation, build, ci

feat: add source archive release workflow
  .github/workflows/release-source.yml
Labels: ci

chore: prepare v1.0.1 release with source archives
  RELEASE_v1.0.1.md
  scripts/create-source-release.sh
Labels: documentation, build
